* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica";
    color: black;
}

.mainHeader {
    font-size: 24px;
    color: white;
    background-color: rgb(51, 51, 51);
    padding: 2% 10%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance {
    float: right;
}

.container {
    margin: 2% 10%;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 24em;
}

.box {
    position: relative;
    background-color: rgb(251, 251, 251);
    flex-basis: calc(33.33% - 4%);
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
}

.big-box {
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 2% 10%;
    width: 80%;
    height: 18em;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 2%;
}

.box .button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: 2%
}

.button {
    border: 1px solid rgb(251, 251, 251);
    border-radius: 10px;
    text-align: center;
    transition: border 0.3s;
    padding: 4%;
    margin: 1%;
    width: 90%;
    height: 4em;
}

.button:hover {
    border: 1px solid rgb(51, 51, 51);
    transition: border 0.3s;
}

.button:active {
    /* box-shadow: 0px 0px 5px 0px #000; */
    filter: brightness(80%);
}

.selecter {
    background-color: white;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 10px;
    padding: 4%;
}

.box-image {
    width: 15em;
    height: 15em;
    margin: 2%;
}

#h1-laptop-title {
    display: inline-block;
}

#h2-laptop-price {
    text-align: center;
}

#p-laptop-features {
    font-size: x-small;
}

#btn-get-a-loan {
    background-color: rgb(88, 255, 88);
}

#btn-bank {
    background-color: rgb(243, 243, 88);
}

#btn-work {
    background-color: rgb(50, 150, 250);
    color: white;
}

#btn-buy-laptop {
    font-size: medium;
    font-weight: 600;
    background-color: rgb(150, 241, 241);
}

#img-laptop {
    width: 100%;
    height: 100%;
}